@import '../variables.scss';

.EventClass {
		border: 1px $color-blue solid;
		border-radius: 4px;

		&--header {
				background: $color-blue;
				padding: 2.5rem;
				height: 3.5rem;
				display: flex;
				justify-content: space-between;
		}

		&--name {
				color: white;
				font-size: $font-size-large;
				font-family: $open-sans;
		}

		&--toggleIcon {
				fill: white;
		}
}
