@import '../../_variables.scss';

.Market {
		border: 1px solid $color-blue-light;

		&--header {
				background: $color-blue-light;
				padding: 1rem 1.5rem;
				color:  $color-blue2;
				border-bottom: 1px solid $color-grey-light;
				height: 2.5rem;

				display: flex;
				justify-content: space-between;
				align-items: center;

				& svg {
						fill: $color-blue2;
				}
		}

		&--subscribe {
				margin-right: 1rem;
		}

		&--notes {
				padding: 1rem 1.5rem;
				background: $color-blue-light2;
		
				color: $color-cyan;
				fill: $color-cyan;

				& > * {
						vertical-align: middle;						
				}
		}

		&--loading-container {
				height: 2.5rem;
		}

		&--notes-bullet {
				margin: 0 1rem;
		}
}

