@import '../../_variables.scss';

.StandardOutcome {
		background: white;
		border-bottom: 1px solid $color-blue-light;
		display: flex;
		justify-content: space-between;

		&--name {
				display: inline-flex;
				align-items: center;

				color: grey;
				padding: 1rem;
				padding-left: 2rem;
		}

		&--outcome {
				border-left: 1px solid $color-blue-light;
				width: 16rem;
				flex-grow: 0;
				flex-shrink: 0;
		}

		&--subscribe {
				padding-right: 1rem;
		}

}
