@import '../../_variables.scss';

.WinDrawWinOutcome {
		display: flex;

		& > * {
				flex: 1;
				min-height: 4.5rem;
		}

		& > *:not(:last-child) {
				border-right: 1px solid $color-blue-light2;
		}
}
