.App {
		padding: 5rem;

		&--toggle-price-format {
				margin-bottom: 1rem;
		}
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}


