$color-red: #db2939;

$color-blue: #0b286c;
$color-blue-light: #d3ddeb;
$color-blue-light2: #ecf0f5;
$color-cyan: #48a4d1;


$color-grey:  #777777;
$color-grey-light2: #cdcdcd;
$color-grey-light: #bdc8d9;
$color-blue2: #383b6a;



$font-weight-light:	300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$open-sans: 'Open Sans Semibold', sans-serif;

$font-size-small: 1.3rem;
$font-size-regular: 1.8rem;
$font-size-large: 2.5rem;
