$color-blue: #0b286c;


// FONT
$font-weight-light:	300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$open-sans: 'Open Sans Semibold', sans-serif;

$font-size-small: 1.3rem;
$font-size-regular: 1.8rem;
$font-size-large: 2rem;
